@import url(http://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans|Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body{
	overflow-x:hidden;
	padding:0;
	margin:0;
	font-family: 'Raleway', sans-serif;
}

header{
	width:80%;
	text-align:center;
	font-family: 'Comforta', sans-serif;
    color: white;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	margin:0;
	transform-origin: top left;
}
h1{
	
	font-size:1000%;
	margin:0;
}

h2, h3, h4, h5, h6{
	font-family:"Roboto", sans-serif;
}

a{
	color:lightblue;
	text-decoration:underline;
}
a:hover{
	text-decoration:none;
}


button{
	border-radius:5px;
	background:rgba(0, 0, 0, 0.7);
	color:white;
	border-style:none;
	padding:10px;
	transition:all 0.2s ease;
	cursor:pointer;
	z-index:5;
}
button:hover{
	background:white;
	color:black;
}


table{
    margin:0 10px 0 0;
    text-align:center;
    border-collapse:collapse;
}
table td{
    background-color:rgba(235, 235, 235, 0.65);
    padding:10px;
}
table th{
    padding:10px;
    background-color:black;
    color:white;
}
table .RRow{
    border-left:solid 1px black;
}


img{
	max-height:100%;
	max-width:100%;
}
